</div>
</div>
<script src="/javascripts/bootstrap.bundle.min.js"></script>
<script src="/javascripts/feather.min.js"></script>
<script src="/javascripts/client.js"></script>
<script>
  function show_loader() {
    loading_modal = new bootstrap.Modal('#loading_modal');
    loading_modal.show();
  }
  document.addEventListener("DOMContentLoaded", (ev) => {
    let spinnerTargets = document.querySelectorAll('.spinner-trigger');
    for (let spinnerTarget of spinnerTargets) {
      spinnerTarget.addEventListener('click', (e) => show_loader())
    }
  });
</script>
</body>

</html>