<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
      <span>Admin</span>
      <a class="link-secondary" href="#" aria-label="Add a new report">
        <span data-feather="settings" class="align-text-bottom"></span>
      </a>
    </h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">
          <span data-feather="box" class="align-text-bottom"></span>
          Campaigns
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/agents">
          <span data-feather="users" class="align-text-bottom"></span>
          Agents
        </a>
      </li>
   
   
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
      <span>Reports</span>
      <a class="link-secondary" href="#" aria-label="Add a new report">
        <span data-feather="pie-chart" class="align-text-bottom"></span>
      </a>
    </h6>

    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">
          <span data-feather="activity" class="align-text-bottom"></span>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/custom-report">
          <span data-feather="crosshair" class="align-text-bottom"></span>
          Custom Report
        </a>
      </li>
    </ul>
  </div>
</nav>