<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-lg-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>Operations</span>
            <a class="link-secondary" href="#">
                <span data-feather="settings" class="align-text-bottom"></span>
            </a>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link spinner-trigger" aria-current="page" href="/campaigns">
                    <span data-feather="list" class="align-text-bottom"></span>
                    Campaigns
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link spinner-trigger" href="/create-campaign">
                    <span data-feather="plus-square" class="align-text-bottom"></span>
                    Create Campaign
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link spinner-trigger" href="/agent-provision">
                    <span data-feather="user-check" class="align-text-bottom"></span>
                    Agent Provision
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link spinner-trigger" href="/agent-distribution">
                    <span data-feather="users" class="align-text-bottom"></span>
                    Agent Distribution
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link spinner-trigger" href="/inbound-number-provision">
                    <span data-feather="phone-incoming" class="align-text-bottom"></span>
                    Inbound Number Provision
                </a>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>Reports</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="pie-chart" class="align-text-bottom"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <!-- 
            <li class="nav-item">
                <a class="nav-link spinner-trigger" href="/campaign-dashboard">
                    <span data-feather="server" class="align-text-bottom"></span>
                    Campaign Dashboard
                </a>
            </li>
             -->
            <li class="nav-item">
                <a class="nav-link spinner-trigger" href="/agent-wise-report">
                    <span data-feather="book-open" class="align-text-bottom"></span>
                    Agent Wise Report
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link spinner-trigger" href="/campaign-wise-report">
                    <span data-feather="box" class="align-text-bottom"></span>
                    Campaign Wise Report
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link spinner-trigger" href="/agent-dashboard">
                    <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                    Agent Dashboard
                </a>
            </li>
        </ul>

        <!-- 
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>User</span>
            <a class="link-secondary" href="#" aria-label="User">
                <span data-feather="lock" class="align-text-bottom"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link spinner-trigger-none" href="/auth/logout">
                    <span data-feather="log-out" class="align-text-bottom"></span>
                    Sign Out
                </a>
            </li>
        </ul> 
        -->


    </div>
</nav>