<%- include('_head.html'); %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">
    <%= title %>
  </h1>
  <% if (true) { %>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <a href="/" class="btn btn-sm btn-outline-secondary spinner-trigger">Cancel</a>
    </div>
  </div>
  <% } %>
</div>

<%- include('_alert.html'); %>

<div class="row g-3">
  <div class="col-md-4">
    <label for="assignedCampaign" class="mb-1">Assigned Campaigns</label>
    <input type="text" class="form-control mb-2" placeholder="Search Campaign..." id="txtSearchAssignedCampaign">
    <select size="10" name="assignedCampaign" id="assignedCampaign" class="form-select"></select>
  </div>

  <div class="col-md-2 text-center">
    <label for="" class="mt-md-5"></label>
    <div class="form-control py-4 mt-md-3 mb-sm-3" style="height: 76%;">
      <div class="btn-group-vertical btn-group-sm">
        <button type="button" class="btn btn-primary" id="btnAdd">&leftarrow; Add</button>
        <button type="button" class="btn btn-danger" id="btnRem">&rightarrow; Rem</button>
        <button type="button" class="btn btn-success" id="btnSave">&check; Save</button>
      </div>
    </div>
  </div>


  <div class="col-md-3">
    <label for="selAllCampaign" class="mb-1">All Campaigns</label>
    <input type="text" class="form-control mb-2" placeholder="Search Campaign..." id="txtSearchAllCampaigns">
    <select size=" 10" name="selAllCampaign" id="selAllCampaign" class="form-select"></select>
  </div>

</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    /* DOMContentLoaded Start ------------------------------------------------ */
    const pauseBetweenAPICallInClient = <%-pauseBetweenAPICallInClient %>;
    const allCampaigns = <%-JSON.stringify(campaigns) %>.filter(item => item.campaignStatus == true).map(item => {
      return {
        campaignName: item.campaignName,
        campaignId: item.campaignId
      }
    });
    const currentCampaigns = <%-JSON.stringify(agentDetails[0].campaigns || {}) %>;
    const agentsRoutingProfileId = <%-JSON.stringify(agentDetails[0].routingProfileId) %>;
    const agentName = <%-JSON.stringify(agentDetails[0].agentName) %>;
    const allCampaignNames = allCampaigns.map(item => item.campaignName);
    const currentCampaignNames = Object.keys(currentCampaigns).length ? currentCampaigns.map(item => item.campaignName) : [];
    let newCampaigns = [];

    let selCurrentCampaigns = document.getElementById('assignedCampaign');
    let selAllCampaign = document.getElementById('selAllCampaign');
    let txtSearchAssignedCampaign = document.getElementById('txtSearchAssignedCampaign');
    let txtSearchAllCampaigns = document.getElementById('txtSearchAllCampaigns');
    let btnAdd = document.getElementById('btnAdd');
    let btnRem = document.getElementById('btnRem');
    let btnSave = document.getElementById('btnSave');

    /*
    Populate Assigned Campaigns: currentCampaigns : selCurrentCampaigns
    */
    for (n = 0; n < currentCampaigns.length; n++) {
      selCurrentCampaigns.options[selCurrentCampaigns.options.length] = new Option(
        currentCampaigns[n].campaignName,
        currentCampaigns[n].campaignId
      );
      newCampaigns.push({
        campaignName: currentCampaigns[n].campaignName,
        campaignId: currentCampaigns[n].campaignId
      })
    } // next nth currentCampaigns

    /* 
    Populate All Campaigns: allCampaigns : selAllCampaign
    Except Assigned Campaigns: currentCampaigns : selCurrentCampaigns
    */
    for (n = 0; n < allCampaigns.length; n++) {
      if (!currentCampaignNames.includes(allCampaigns[n].campaignName)) {
        selAllCampaign.options[selAllCampaign.options.length] = new Option(
          allCampaigns[n].campaignName,
          allCampaigns[n].campaignId
        );
      }
    } // next nth allCampaigns

    /* Populate newCampaigns*/
    selCurrentCampaigns.addEventListener('DOMSubtreeModified', (event) => {
      newCampaigns = [];
      for (let n = 0; n < selCurrentCampaigns.options.length; n++) {
        newCampaigns.push({
          campaignName: selCurrentCampaigns.options[n].text,
          campaignId: selCurrentCampaigns.options[n].value
        })
      }
    });

    /* Remove Campaign from Agent */
    btnRem.addEventListener('click', (event) => {
      if (!selCurrentCampaigns.selectedOptions.length) {
        alert("No Campaign Selected");
        return;
      }
      let selCurrentCampaignsText = selCurrentCampaigns.selectedOptions[0].text;
      let selCurrentCampaignsValue = selCurrentCampaigns.selectedOptions[0].value;
      let selCurrentCampaignsIndex = selCurrentCampaigns.selectedOptions[0].index;
      selCurrentCampaigns.remove(selCurrentCampaignsIndex);
      selAllCampaign.options[selAllCampaign.options.length] = new Option(
        selCurrentCampaignsText,
        selCurrentCampaignsValue
      );
    });

    /* Add Campaign to Agent */
    btnAdd.addEventListener('click', (event) => {
      if (!selAllCampaign.selectedOptions.length) {
        alert("No Campaign Selected");
        return;
      }
      let selCampaignText = selAllCampaign.selectedOptions[0].text;
      let selCampaignValue = selAllCampaign.selectedOptions[0].value;
      let selCampaignIndex = selAllCampaign.selectedOptions[0].index;
      selAllCampaign.remove(selCampaignIndex);
      selCurrentCampaigns.options[selCurrentCampaigns.options.length] = new Option(
        selCampaignText,
        selCampaignValue
      );
    });

    /* Filter/Serach Assigned Campaigns */
    txtSearchAssignedCampaign.addEventListener('keyup', (ev) => {
      selCurrentCampaigns.selectedIndex = -1;
      filterOptions(ev.target.value, selCurrentCampaigns.getElementsByTagName('option'));
    });

    /* Filter/Serach All Campaigns */
    txtSearchAllCampaigns.addEventListener('keyup', (ev) => {
      selAllCampaign.selectedIndex = -1;
      filterOptions(ev.target.value, selAllCampaign.getElementsByTagName('option'));
    });

    /* Save changes one by one in an interval */
    btnSave.addEventListener('click', async (e) => {
      show_loader();

      /* Campaigns to Add */
      for (let n = 0; n < newCampaigns.length; n++) {
        let thisCampaignName = newCampaigns[n].campaignName;
        let thisCampaignId = newCampaigns[n].campaignId;

        let notExist = false;

        if (Object.keys(currentCampaigns).length) {
          notExist = currentCampaigns.filter(elem => elem['campaignName'] == thisCampaignName).length == 0;
        } else {
          notExist = true;
        }

        if (notExist) {
          let assoc = "true";
          let url = `/agent-assign-campaign/assign-campaign?rpid=${agentsRoutingProfileId}&campaignid=${thisCampaignId}&assoc=${assoc}&agentname=${agentName}&campaignname=${thisCampaignName}`;
          let response = await fetch(url);
          await sleep(pauseBetweenAPICallInClient);
        }
      }

      /* Campaigns to remove */
      for (let n = 0; n < currentCampaigns.length; n++) {
        let thisCampaignName = currentCampaigns[n].campaignName;
        let thisCampaignId = currentCampaigns[n].campaignId;
        let notExist = newCampaigns.filter(elem => elem['campaignName'] == thisCampaignName).length == 0;
        if (notExist) {
          let assoc = "false";
          let url = `/agent-assign-campaign/assign-campaign?rpid=${agentsRoutingProfileId}&campaignid=${thisCampaignId}&assoc=${assoc}&agentname=${agentName}&campaignname=${thisCampaignName}`;
          let response = await fetch(url);
          await sleep(pauseBetweenAPICallInClient);
        }
        await sleep(pauseBetweenAPICallInClient);
      }

      await sleep(pauseBetweenAPICallInClient);
      hide_loader();
      window.location.replace('/agent-assign-campaign/agent-assign-campaign-success');
    });

    /* DOMContentLoaded End -------------------------------------------------- */
  }); //DOMContentLoaded
</script>
<%- include('_foot.html'); %>