<%- include('_head.html'); %>
  
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">
        <%= title %>
      </h1>
      <% if (true) { %>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <a href="/" type="button" class="btn btn-sm btn-outline-secondary spinner-trigger">Home</a>
          </div>
        </div>
        <% } %>
    </div>

    <%- include('_alert.html'); %>
    
    <center>
      <img src="/images/undraw_analytics_re_dkf8.svg" alt="dashboatd" class="img-fluid opacity-50" style="max-width: 70vh">
    </center>



  <%- include('_foot.html'); %>