<%- include('_head.html'); %>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
      <%= title %>
    </h1>
    <% if (true) { %>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <a href="/create-campaign" type="button" class="btn btn-sm btn-outline-secondary spinner-trigger">Create Campaign</a>
      </div>
    </div>
    <% } %>
  </div>
  <%- include('_alert.html'); %>
  <!-- <div class="mt-4 mb-4 w-50 text-end">
    <input type="text" class="form-control" placeholder="Search..." onkeyup="filterCampaignTable()" id="txtFilterCampaignTable">
  </div> -->
  <div class="table-responsive">
    <table class="table table-bordered table-striped" id="campaignTable">
      <thead class="table-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% campaigns.forEach(function(campaign){ %>
        <% if (campaign.campaignStatus==true) { %>
        <tr>
          <td>
            <a class="nav-link spinner-trigger" href="/edit-campaign?campaignname=<%-campaign.campaignName%>&campaignid=<%-campaign.campaignId%>">
              <span data-feather="edit" class="align-text-bottom"></span>
              <%=campaign.campaignName%>
            </a>
          </td>
          <td>
            <%=campaign.campaignDescription%>
          </td>
          <td>
            <span class="d-none"><%=campaign.campaignStatus%></span>
            <div class="form-check form-switch">
              <input class="form-check-input campaign-status-switch" type="checkbox" <%-(campaign.campaignStatus==true)?'checked':'' %> data-qid="<%=campaign.campaignId%>" data-qname="<%=campaign.campaignName%>" role="switch">
            </div>
          </td>
        </tr>
        <% } %>
        <% }); %>
        <% let disabledCount = 0; %>
        <% campaigns.forEach(function(campaign){ %>
        <% if (campaign.campaignStatus==false) { %>
        <%  
            disabledCount += 1; 
            if(disabledCount > 50) return;
            %>
        <tr>
          <td>
            <a class="nav-link spinner-trigger" href="/edit-campaign?campaignname=<%-campaign.campaignName%>&campaignid=<%-campaign.campaignId%>">
              <span data-feather="edit" class="align-text-bottom"></span>
              <%=campaign.campaignName%>
            </a>
          </td>
          <td>
            <%=campaign.campaignDescription%>
          </td>
          <td>
            <span class="d-none"><%=campaign.campaignStatus%></span>
            <div class="form-check form-switch">
              <input class="form-check-input campaign-status-switch" type="checkbox" <%-(campaign.campaignStatus==true)?'checked':'' %> data-qid="<%=campaign.campaignId%>" data-qname="<%=campaign.campaignName%>" role="switch">
            </div>
          </td>
        </tr>
        <% } %>
        <% }); %>
      </tbody>
    </table>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", (domContentLoadedEvent) => {
    const table = new simpleDatatables.DataTable("#campaignTable",{
      perPageSelect: false,
      perPage: 20
    });
    let statusSwitch = document.querySelectorAll('.campaign-status-switch');
    statusSwitch.forEach((item) => {
      item.addEventListener('click', async (switchEvent) => {
        await fetch(`/campaigns/set-campaign-status?id=${switchEvent.target.dataset.qid}&qname=${switchEvent.target.dataset.qname}&status=${switchEvent.target.checked}`);
      });
    });
  });

  function filterCampaignTable() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("txtFilterCampaignTable");
    filter = input.value.toUpperCase();
    table = document.getElementById("campaignTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    } // next i
  } // end function filterCampaignTable
</script>
<%- include('_foot.html'); %>