<%- include('_head.html'); %>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
      <%= title %>
    </h1>
    <% if (true) { %>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <a href="/" type="button" class="btn btn-sm btn-outline-secondary spinner-trigger">Cancel</a>
      </div>
    </div>
    <% } %>
  </div>

  <%- include('_alert.html'); %>

  <div class="col-md-7 col-lg-4">
    <form name="changePasswordForm" id="changePasswordForm" method="post" action="/change-password">
      <div class="mb-3">
        <label for="newPassword" class="form-label">New Password</label>
        <input type="password" class="form-control " name="newPassword" id="newPassword" value="" required>
        <div class="text-danger mt-1" id="newPasswordFeedback"></div>
      </div>
      <div class="mb-3">
        <label for="verifyNewPassword" class="form-label">Verify New Password</label>
        <input type="password" class="form-control " name="verifyNewPassword" id="verifyNewPassword" value="" required>
        <div class="invalid-feedback"></div>
      </div>
      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </div>

<script>
  
</script>
<%- include('_foot.html'); %>