<%- include('_head.html'); %>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">
        <%= title %>
      </h1>
      <% if (true) { %>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Filter Options</button>
          </div>
        </div>
        <% } %>
    </div>

    <%- include('_alert.html'); %>
    
    <center>
      <img src="/images/undraw_analytics_re_dkf8.svg" alt="dashboatd" class="img-fluid opacity-50" style="max-width: 70vh">
    </center>

  </main>

  <%- include('_foot.html'); %>