<%- include('_head.html'); %>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
      <%= title %>
    </h1>
    <% if (true) { %>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <a href="/" type="button" class="btn btn-sm btn-outline-secondary spinner-trigger">Cancel</a>
      </div>
    </div>
    <% } %>
  </div>

  <%- include('_alert.html'); %>

  <div class="col-md-8 col-lg-8">
    <form name="campaignEditForm" id="campaignEditForm" method="post" action="/edit-campaign">
      <div class="mb-3">
        <label for="campaignName" class="form-label">Campaign Name</label>
        <input type="text" class="form-control " name="campaignName" id="campaignName" value="<%=campaignName%>" readonly>
        <div class="text-danger mt-1" id="campaignNameFeedback"></div>
      </div>
      <div class="mb-3">
        <label for="campaignDescription" class="form-label">Campaign Description</label>
        <input type="text" class="form-control " name="campaignDescription" id="campaignDescription" value="<%=campaignDescription%>" maxlength="128">
        <div class="invalid-feedback"></div>
      </div>
      <div class="mb-3">
        <label for="phoneNumber" class="form-label">Outbound Phone Number</label>
        <select class="form-select " name="phoneNumber" id="phoneNumber">
          <% phoneNumbers.forEach((phoneNumber)=>{ %>
          <option <%=(selectedphoneNumber==phoneNumber.Id?'selected':'')%> value="<%- phoneNumber.Id %>"><%- phoneNumber.PhoneNumber %></option>
          <% }) %>
        </select>
        <div class="invalid-feedback"></div>
      </div>
      <div class="mb-3">
        <label for="hoursOfOperation" class="form-label">Hours of Operation</label>
        <select class="form-select " name="hoursOfOperation" id="hoursOfOperation">
          <% hoursOfOperations.forEach((hoursOfOperation)=>{ %>
          <option <%=(selectedHoursOfOperation==hoursOfOperation.Id?'selected':'')%>  value="<%- hoursOfOperation.Id %>"><%- hoursOfOperation.Name %></option>
          <% }) %>
        </select>
        <div class="invalid-feedback"></div>
      </div>
      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </div>
</main>
<script>
  document.addEventListener("DOMContentLoaded", async () => {
    const pauseBetweenAPICallInClient = <%-pauseBetweenAPICallInClient%>;
    const queueId = "<%-campaignId%>";

    campaignEditForm.addEventListener("submit", async (event) => {
      event.preventDefault();
      show_loader();
      let campaignEditForm = document.getElementById("campaignEditForm");
      let campaignName = document.getElementById("campaignName").value;
      let campaignDescription = document.getElementById("campaignDescription").value;
      let phoneNumber = document.getElementById("phoneNumber").value;
      let hoursOfOperation = document.getElementById("hoursOfOperation").value;
      let url = `/edit-campaign/save-edited?campaignname=${campaignName}&campaignid=${queueId}&campaigndescription=${campaignDescription}&phonenumber=${phoneNumber}&hoursofoperation=${hoursOfOperation}`;
      let result = await fetch(url);
      result = await result.json();

      await sleep(pauseBetweenAPICallInClient);
      hide_loader();
      if (result.message == "OK") {
        window.location.replace('/edit-campaign/edit-campaign-success');
      } else if (result.message == "OK") {
        window.location.replace('/edit-campaign/edit-campaign-fail');
      }
    }); // form submit event
  }); // DOM load event
</script>
<%- include('_foot.html'); %>